{% extends 'layout/base.html' %}
{% block content %}
<div class="container">
    <h1>Detalle del Pedido</h1>
    <div class="pedido-detalles">
        <p><strong>Código:</strong> {{ pedido.codigo }}</p>
        <p><strong>Fecha:</strong> {{ pedido.fecha }}</p>
        <p><strong>Total:</strong> ${{ pedido.total }}</p>
        <p><strong>Cliente:</strong> {{ pedido.cliente.username }}</p>
        <p><strong>Estado:</strong> {{ pedido.estado.nombre }}</p>
        <p><strong>Método de Pago:</strong> {{ pedido.metodo_pago.nombre }}</p>
        <p><strong>Fecha de Pago:</strong> {{ pedido.fecha_pago|date:"d/m/Y H:i" }}</p>
        
        <!-- Detalles del producto -->
        <h3>Detalles del Producto</h3>
        <p><strong>Producto:</strong> {{ pedido.producto.nombre }}</p>
        <p><strong>Cantidad:</strong> {{ pedido.cantidad }}</p>
        <p><strong>Precio Unitario:</strong> ${{ pedido.precio_unitario }}</p>
    </div>
{% endblock %}